<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="cbdefense.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
  <applicationSettings>
    <cbdefense.Properties.Settings>
      <setting name="PerfLogging" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="apiSecretKey" serializeAs="String">
        <value>CHANGE_ME</value>
      </setting>
      <setting name="apiId" serializeAs="String">
        <value>CHANGE_ME</value>
      </setting>
      <setting name="apiUri" serializeAs="String">
        <value>https://change_me.conferdeploy.net</value>
      </setting>
      <setting name="apiLogs" serializeAs="String">
        <value>events</value>
      </setting>
      <setting name="maxResults" serializeAs="String">
        <value>5000</value>
      </setting>
      <setting name="searchWindow" serializeAs="String">
        <value>3h</value>
      </setting>
      <setting name="defaultApiPrefix" serializeAs="String">
        <value>/integrationServices/v3/</value>
      </setting>
      <setting name="logOutputPath" serializeAs="String">
        <value>C:\Program Files\LogRhythm\cbdefense\</value>
      </setting>
      <setting name="fieldSettings" serializeAs="String">
        <value>{"eventTime":1,"eventType":2,"threatScore":3,"alertScore":4,"alertCategory":5,"threatIndicators":6,"longDescription":-1,"shortDescription":-1,"createTime":-1}</value>
      </setting>
      <setting name="doAutoTimeWindow" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="autoTimeWindow" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="doAutoLogCleanup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="doDumpRawJson" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="apiResultObjName" serializeAs="String">
        <value>results</value>
      </setting>
    </cbdefense.Properties.Settings>
  </applicationSettings>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
</configuration>